:root {
  --background: #181818;
  --background-foreground: #efefef;
  --background-foreground-muted: #262626;
  --background-hover: #262626;
  --background-hover-foreground: #ffffff;

  --border: #363636;
  --border-hover: #676767;

  --accent: #1cac7a;
  --accent-muted: #288061;
  --accent-foreground: #ddfff3;
  --accent-foreground-muted: #62d0aa;

  --destructive: #dc3545;
  --destructive-foreground: #f8d7da;

  --badge-1: #006696;
  --badge-1-foreground: #d1eaff;

  --badge-2: #009637;
  --badge-2-foreground: #d1ffe2;

  --badge-3: #dfa700;
  --badge-3-foreground: #fff2c9;

  --text-light: #ffffff;
  --text-muted: #c0c0c0;

  --header-height: 50px;
  --radius: 0.2em;

  --font-xs: 0.6em;
  --font-sm: 0.8em;
  --font-md: 1em;
  --font-lg: 1.2em;
  --font-xl: 1.4em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#app {
  width: 100%;
  max-width: 1400px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--text-light);
  padding: 0;
  margin: 0;
  border-right: 1px solid var(--border);
  border-left: 1px solid var(--border);
}

main {
  height: calc(100% - var(--header-height));
  width: 100%;
  margin: 0 auto;
}

header {
  height: var(--header-height);
  width: 100%;
  margin: 0 auto;
  padding: 5px 20px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: var(--font-xs);
  border-bottom: 1px solid var(--border);
}
