:root {
  --background: #181818;
  --background-foreground: #efefef;
  --background-foreground-muted: #393939;
  --border: #363636;

  --accent: #4e47e3;
  --accent-muted: #d8d6ff;
  --accent-foreground: #e8f2ff;

  --destructive: #dc3545;
  --destructive-foreground: #f8d7da;

  --badge-1: #00b643;
  --badge-1-foreground: #b9ffd3;

  --badge-2: #ffc107;
  --badge-2-foreground: #ffeaac;

  --text-light: #ffffff;
  --text-muted: #efefef;

  --header-height: 50px;
  --radius: 0.5em;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: var(--text-light);
}

header {
  width: 100%;
  height: var(--header-height);
  padding: 0 20px;
}

main {
  width: 100%;
  height: calc(100% - var(--header-height));
  padding: 20px;
}
